/* body{ */
    /* background-color:rgb(76, 77, 75); */
/* } */
*{
    padding: 0;
    margin: 0;
}
.container1{
    height: 100%;
    /* background-color: rgb(195, 0, 255); */
    margin: 20px 0 0 20px;
    display: flex;
    justify-content:space-evenly;
    height: 90vh;
}
.input-feilds{
    margin: 12px;
}
/* form{
    /* width:50%; */
/* } */ */
/* .input-feilds label{ */
    /* margin-right: 20px; */
/* } */
.crud-form label{
    font-size: 20px;
    /* color:white !important; */
}
.crud-form input,.crud-form textarea{
    background-color: aqua;
    border: none;
    border-radius: 2px;
    padding:10px;
    margin-top:10px;
    width: 100%;
}
.crud-form button{
    padding:10px;
    background-color:dodgerblue;
    border: none;
    color:white;
    margin: 20px 0 0 100px;
    border-radius: 4px;
    cursor:pointer
}
table{
    width:100%;
    border: 2px solid red;
}
table th{
    border: 2px solid green;
}
table td{
    border: 2px solid rgb(0, 26, 128);
}
table td button{
    padding:10px;
    background-color:rgb(165, 30, 255);
    border: none;
    color:white;
    margin: 4px;
    border-radius: 4px;
    cursor:pointer
}
.colspan{
    text-align: center;
    
}
.table{
    /* border: 2px solid red; */
    border-collapse: collapse;
    background-color: rgb(72, 112, 206);
    color: #ffffff;
}
.table th{
    /* padding: 12px; */
    color:rgb(214, 224, 22);
    /* border: 2px solid rgb(255, 0, 0); */
}
.table td,.table th{
    padding: 12px;
    border: 2px solid rgb(238, 255, 0);
}